.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
    position: relative;
    z-index: 1;

    &__links{
        display: flex;
        align-items: center;
        column-gap: 67px;
        & > a{
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
        }
    }
}